          <div class="news">
            {% if site.data.news_content.news != blank -%}
            {%- assign news_size = site.data.news_content.news | size -%}
            <div class="table-responsive" {% if site.announcements.scrollable and news_size > 3 %}style="max-height: 300px; overflow-y: auto;"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign news = site.data.news_content.news | sort: "sort_date" | reverse -%}
              {% if include.limit and site.announcements.limit %}
              {% assign news_limit = site.announcements.limit %}
              {% else %}
              {% assign news_limit = news_size %}
              {% endif %}
              {% for item in news limit: news_limit %}
                <tr>
                  <th scope="row" style="white-space: nowrap;">{{ item.date }}</th>
                  <td>{{ item.content }}</td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>